<%- include("include/header") %>  
<div class="center">
  <h1>Login</h1>
<form action="/" method="post">
        <div class="txt_field">
          <input type="text" required name="Username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="email" required name="email">
          <span></span>
          <label>Email</label>
        </div>
        <div class="pass">Forgot Password</div>
        <a type="submit" href="/payment">Login</a>
        <div class="signup_link">
          Not a member? <a href="#">Signup</a>
        </div>
      </form>
    </div>
 <%- include("include/footer") %> 
